*.txt
.vscode/
__pycache__
*.pyc
studies/*
data/
logs/
*.tar.gz
htcondor/error/
htcondor/log/
htcondor/output/
htcondor/hists/
htcondor/denominator_json/
prova*
test/
plots*/
vdamante.cc
samples_withfiles.yaml
soft/
*.root
plot*
analysis/patches/