*.txt
.vscode/
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
studies/*
data/
logs/
*.tar.gz
htcondor/error/
htcondor/log/
htcondor/output/
htcondor/hists/
htcondor/denominator_json/
prova*
test/
plots*/
results/
vdamante.cc
samples_withfiles.yaml
soft/
*.root
analysis/patches/
results/
htcondor/validation/
htcondor/systematics/
pyproject.toml